<h3>Reply to this comment</h3>

<%= button_to "Upvote", upvote_comment_url %>
<%= button_to "Downvote", downvote_comment_url %>

<form action="<%=comments_url%>" method="post">
  <%= auth_token %>

  <input type="hidden" name="comment[post_id]" value="<%=@comment.post_id%>">
  <input type="hidden" name="comment[parent_comment_id]" value="<%=@comment.id%>">

  <label>Body
  <input type="text" name="comment[content]">
  </label>

  <input type="submit">

</form>
